In [2]:
import pandas as pd

In [3]:
path_images_train = "../../data/skincancer_new_processed/"

In [4]:
df_train_gt = pd.read_csv(path_images_train + "train_GroundTruth.csv")
df_train_gt['none'] = df_train_gt['melanoma'] + df_train_gt['seborrheic_keratosis']
df_train_gt['none'] = df_train_gt['none'].apply(lambda x: 1.0 if x == 0.0 else 0.0)
df_train_gt

          image_id  melanoma  seborrheic_keratosis  none
0     ISIC_0000000       0.0                   0.0   1.0
1     ISIC_0000001       0.0                   0.0   1.0
2     ISIC_0000002       1.0                   0.0   0.0
3     ISIC_0000003       0.0                   0.0   1.0
4     ISIC_0000004       1.0                   0.0   0.0
...            ...       ...                   ...   ...
1995  ISIC_0015220       0.0                   1.0   0.0
1996  ISIC_0015233       0.0                   1.0   0.0
1997  ISIC_0015260       0.0                   1.0   0.0
1998  ISIC_0015284       1.0                   0.0   0.0
1999  ISIC_0015295       0.0                   1.0   0.0

[2000 rows x 4 columns]

In [5]:
df_train_gt.to_csv(path_images_train + "train_GroundTruth2.csv", index=False)

In [6]:
df_train_gt.sum()

image_id                ISIC_0000000ISIC_0000001ISIC_0000002ISIC_00000...
melanoma                                                            374.0
seborrheic_keratosis                                                254.0
none                                                               1372.0
dtype: object

In [7]:
df_test_gt = pd.read_csv(path_images_train + "test_GroundTruth.csv")
df_test_gt['none'] = df_test_gt['melanoma'] + df_test_gt['seborrheic_keratosis']
df_test_gt['none'] = df_test_gt['none'].apply(lambda x: 1.0 if x == 0.0 else 0.0)
df_test_gt

         image_id  melanoma  seborrheic_keratosis  none
0    ISIC_0012086       0.0                   1.0   0.0
1    ISIC_0012092       0.0                   0.0   1.0
2    ISIC_0012095       0.0                   0.0   1.0
3    ISIC_0012134       0.0                   1.0   0.0
4    ISIC_0012136       0.0                   1.0   0.0
..            ...       ...                   ...   ...
595  ISIC_0016068       0.0                   0.0   1.0
596  ISIC_0016069       0.0                   0.0   1.0
597  ISIC_0016070       0.0                   0.0   1.0
598  ISIC_0016071       0.0                   0.0   1.0
599  ISIC_0016072       0.0                   0.0   1.0

[600 rows x 4 columns]

In [8]:
df_test_gt.to_csv(path_images_train + "test_GroundTruth2.csv", index=False)