In [24]:
import pandas as pd
import os

In [25]:
df_train_gt_binary = pd.read_csv('ISIC_2020_Training_GroundTruth_v2.csv')
df_train_gt_binary.rename(columns={'image_name':'image_id'}, inplace=True)
df_train_gt_binary

,image_id,patient_id,lesion_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,IL_7972535,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,IL_4649854,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,IL_9087444,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,IL_4255399,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,IL_6898037,female,55.0,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,IL_2076932,male,50.0,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,IL_6891604,male,65.0,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,IL_6364820,male,20.0,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,IL_6048457,male,50.0,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,IL_5788213,male,45.0,torso,nevus,benign,0

In [26]:
df_train_gt_binary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33126 entries, 0 to 33125
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   image_id                       33126 non-null  object
 1   patient_id                     33126 non-null  object
 2   lesion_id                      33126 non-null  object
 3   sex                            33061 non-null  object
 4   age_approx                     33058 non-null  float64
 5   anatom_site_general_challenge  32599 non-null  object
 6   diagnosis                      33126 non-null  object
 7   benign_malignant               33126 non-null  object
 8   target                         33126 non-null  int64
dtypes: float64(1), int64(1), object(7)
memory usage: 2.3+ MB

In [31]:
df_train_gt_binary[df_train_gt_binary['image_id'] == 'ISIC_0000000']

Empty DataFrame
Columns: [image_id, patient_id, lesion_id, sex, age_approx, anatom_site_general_challenge, diagnosis, benign_malignant, target]
Index: []

In [27]:
df_train_gt = pd.read_csv('train_GroundTruth2.csv')
df_train_gt

          image_id  melanoma  seborrheic_keratosis  none
0     ISIC_0000000       0.0                   0.0   1.0
1     ISIC_0000001       0.0                   0.0   1.0
2     ISIC_0000002       1.0                   0.0   0.0
3     ISIC_0000003       0.0                   0.0   1.0
4     ISIC_0000004       1.0                   0.0   0.0
...            ...       ...                   ...   ...
1995  ISIC_0015220       0.0                   1.0   0.0
1996  ISIC_0015233       0.0                   1.0   0.0
1997  ISIC_0015260       0.0                   1.0   0.0
1998  ISIC_0015284       1.0                   0.0   0.0
1999  ISIC_0015295       0.0                   1.0   0.0

[2000 rows x 4 columns]

In [30]:
df_train_gt[df_train_gt['image_id'] == 'ISIC_0000000']

       image_id  melanoma  seborrheic_keratosis  none malignant_benign
0  ISIC_0000000       0.0                   0.0   1.0           benign

In [28]:
df_train_gt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   image_id              2000 non-null   object
 1   melanoma              2000 non-null   float64
 2   seborrheic_keratosis  2000 non-null   float64
 3   none                  2000 non-null   float64
dtypes: float64(3), object(1)
memory usage: 62.6+ KB

In [29]:
# create a new column "malignant_benign" in df_train_gt_binary, get the value from df_train_gt by image_id
df_train_gt['malignant_benign'] = df_train_gt_binary['benign_malignant']
df_train_gt

          image_id  melanoma  seborrheic_keratosis  none malignant_benign
0     ISIC_0000000       0.0                   0.0   1.0           benign
1     ISIC_0000001       0.0                   0.0   1.0           benign
2     ISIC_0000002       1.0                   0.0   0.0           benign
3     ISIC_0000003       0.0                   0.0   1.0           benign
4     ISIC_0000004       1.0                   0.0   0.0           benign
...            ...       ...                   ...   ...              ...
1995  ISIC_0015220       0.0                   1.0   0.0           benign
1996  ISIC_0015233       0.0                   1.0   0.0           benign
1997  ISIC_0015260       0.0                   1.0   0.0           benign
1998  ISIC_0015284       1.0                   0.0   0.0           benign
1999  ISIC_0015295       0.0                   1.0   0.0           benign

[2000 rows x 5 columns]

In [13]:
# count the number of ids that match between df_train_gt and df_train_gt_binary
count = 0
for index, row in df_train_gt.iterrows():
    if index in df_train_gt_binary.index:
        count += 1
count

0

In [6]:
df_train_gt['benign_malignant'].value_counts()

Series([], Name: count, dtype: int64)

In [14]:
classes = [
    'actinic keratosis', 'melanoma', 'seborrheic keratosis',
    'basal cell carcinoma', 'nevus', 'squamous cell carcinoma',
    'dermatofibroma', 'pigmented benign keratosis', 'vascular lesion'
]

In [15]:
folder = "images_classes"

In [16]:
# create a dataframe in which each row is an image, one column is the image id (corresponding to the image filename) and the other columns are the classes corresponding to the image folder
dict_df = {
    'image_id': [],
    'class': []
}
for c in classes:
    for image in os.listdir(os.path.join(folder, c)):
        dict_df['image_id'].append(image.split('.')[0])
        dict_df['class'].append(c)
df = pd.DataFrame(dict_df)
df

          image_id              class
0     ISIC_0030143  actinic keratosis
1     ISIC_0032422  actinic keratosis
2     ISIC_0029309  actinic keratosis
3     ISIC_0031430  actinic keratosis
4     ISIC_0026575  actinic keratosis
...            ...                ...
2358  ISIC_0030722    vascular lesion
2359  ISIC_0025250    vascular lesion
2360  ISIC_0031276    vascular lesion
2361  ISIC_0032839    vascular lesion
2362  ISIC_0028163    vascular lesion

[2363 rows x 2 columns]

In [17]:
df_train_gt

              melanoma  seborrheic_keratosis  none malignant_benign
image_id
ISIC_0000000       0.0                   0.0   1.0              NaN
ISIC_0000001       0.0                   0.0   1.0              NaN
ISIC_0000002       1.0                   0.0   0.0              NaN
ISIC_0000003       0.0                   0.0   1.0              NaN
ISIC_0000004       1.0                   0.0   0.0              NaN
...                ...                   ...   ...              ...
ISIC_0015220       0.0                   1.0   0.0              NaN
ISIC_0015233       0.0                   1.0   0.0              NaN
ISIC_0015260       0.0                   1.0   0.0              NaN
ISIC_0015284       1.0                   0.0   0.0              NaN
ISIC_0015295       0.0                   1.0   0.0              NaN

[2000 rows x 4 columns]

In [18]:
# create a new column "class" in df_train_gt, get the value from df by image_id
df_train_gt['class'] = df['class']
df_train_gt

              melanoma  seborrheic_keratosis  none malignant_benign class
image_id
ISIC_0000000       0.0                   0.0   1.0              NaN   NaN
ISIC_0000001       0.0                   0.0   1.0              NaN   NaN
ISIC_0000002       1.0                   0.0   0.0              NaN   NaN
ISIC_0000003       0.0                   0.0   1.0              NaN   NaN
ISIC_0000004       1.0                   0.0   0.0              NaN   NaN
...                ...                   ...   ...              ...   ...
ISIC_0015220       0.0                   1.0   0.0              NaN   NaN
ISIC_0015233       0.0                   1.0   0.0              NaN   NaN
ISIC_0015260       0.0                   1.0   0.0              NaN   NaN
ISIC_0015284       1.0                   0.0   0.0              NaN   NaN
ISIC_0015295       0.0                   1.0   0.0              NaN   NaN

[2000 rows x 5 columns]